@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
  --accent: #F66135;
  --text-color: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-text: var(--text-color);
  /* Exemplo de variáveis de fonte */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* -- */
}
html {
  scroll-behavior: smooth;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #171717;
    --accent: #F66135;
    --text-color: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--text-color);
}

/* Estilos adicionais para o componente Projects */
.project-card {
  background-color: var(--foreground);
  color: var(--text-color);
}

.project-card .tag {
  background-color: var(--background);
  color: var(--text-color);
}

.project-card .button {
  background-color: var(--accent);
  color: var(--text-color);
}

/* =========================================
   Adicionar keyframes + classes de animação
   ========================================= */
@layer utilities {
  @keyframes star-movement-bottom {
    0% {
      transform: translate(0%, 0%);
      opacity: 1;
    }
    100% {
      transform: translate(-100%, 0%);
      opacity: 0;
    }
  }

  @keyframes star-movement-top {
    0% {
      transform: translate(0%, 0%);
      opacity: 1;
    }
    100% {
      transform: translate(100%, 0%);
      opacity: 0;
    }
  }

  .animate-star-movement-bottom {
    animation: star-movement-bottom 6s linear infinite alternate;
  }

  .animate-star-movement-top {
    animation: star-movement-top 6s linear infinite alternate;
  }
}